html {
    scroll-behavior: smooth;
}

.menu {
    background: whitesmoke;
}

.titulo { 
    text-shadow: 4px 3px 8px rgba(0,0,0,0.5);
}

.section-one {
    background: white;
}

.section__about {   
    display: flex;
    justify-content: space-evenly;
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cuadro {
    background: whitesmoke;
    border: 1px solid lightgrey;
    border-radius: 25px;
    width: 25vw;
    height: 60vh;
    -webkit-box-shadow: 0px 4px 35px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 35px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 35px -6px rgba(0,0,0,0.75);
}

.cuadro:hover {
    border: 2px solid green;
    cursor: pointer;
}

.section__contact {
   background: whitesmoke;
}

@media (max-width: 720px) {
    .section-one div{
        width: 100%;
    }
    .carrusel {
        display: none;
    }

    .section__about {
        display: grid;
        grid-template-columns: auto;
    }

    .cuadro {
        width: 75%;
        height: 55vh;
        margin: auto;
    }

    .section__contact div {
        width: 90%;
    }

    .img__contact {
        display: none;
    }
}